
<div class="image-text-container-01">

        <div class="custom-card">
            <div class="custom-card-image">
              <img
                src="https://fastly-production.24c.in/india/homepage/desktop/banners/exchange.png"
                alt=""
              />
            </div>
            <div class="card-title">
              <img
                src="./double-quote-serif-right-xxl.png"
                alt=""
                class="apstrope-02"
              />
              <h3>Example Card Title</h3>
              <img
                src="https://assets.cars24.com/production/c2b-website/230817153723/js/6549b9f2f6cb0f870ba684374ede65e6.svg"
                alt=""
                class="apstrope-01"
              />
            </div>
            <div class="card-content">
              <p>Example card content text goes here.</p>
            </div>
        
            <div class="card-content">
              <p>Rjaesh Raj</p>
              <p>Maruti Celerio</p>
            </div>
          </div>
          <div class="custom-card">
            <div class="custom-card-image">
              <img
                src="https://fastly-production.24c.in/india/homepage/desktop/banners/exchange.png"
                alt=""
              />
            </div>
            <div class="card-title">
              <img
                src="./double-quote-serif-right-xxl.png"
                alt=""
                class="apstrope-02"
              />
              <h3>Example Card Title</h3>
              <img
                src="https://assets.cars24.com/production/c2b-website/230817153723/js/6549b9f2f6cb0f870ba684374ede65e6.svg"
                alt=""
                class="apstrope-01"
              />
            </div>
            <div class="card-content">
              <p>Example card content text goes here.</p>
            </div>
        
            <div class="card-content">
              <p>Rjaesh Raj</p>
              <p>Maruti Celerio</p>
            </div>
          </div>
          <div class="custom-card">
            <div class="custom-card-image">
              <img
                src="https://fastly-production.24c.in/india/homepage/desktop/banners/exchange.png"
                alt=""
              />
            </div>
            <div class="card-title">
              <img
                src="./double-quote-serif-right-xxl.png"
                alt=""
                class="apstrope-02"
              />
              <h3>Example Card Title</h3>
              <img
                src="https://assets.cars24.com/production/c2b-website/230817153723/js/6549b9f2f6cb0f870ba684374ede65e6.svg"
                alt=""
                class="apstrope-01"
              />
            </div>
            <div class="card-content">
              <p>Example card content text goes here.</p>
            </div>
        
            <div class="card-content">
              <p>Rjaesh Raj</p>
              <p>Maruti Celerio</p>
            </div>
          </div>
    </div>
  

