<footer>
    <div class="footer">
  <div class="keep-in-touch">
 
      <h3>KEEP IN TOUCH</h3>
      <div class="icons-footer">
       
      </div>
   
  </div>

  <div class="useful-link">
    <h3>USEFUL LINKS</h3>
    <p>
      Contact Us | Security | Motor insurance <br />
      About Us | Privacy Policy | <br />
      Terms and Conditions | FAQ | Testimonials | <br />
      Blog | We're Hiring! | Become Our Partner | <br />
      Need a Loan | RC Transfer Status | <br />
      CARS24 Finance | Investors
    </p>
  </div>

  <div class="popular-search">
    <h3>POPULAR SEARCHES</h3>
    <p>
      CARS24 PricingSell | Sell used Car | <br />
      Used CarVehicle Ownership Transfer | Used Car Valuation <br />
    </p>
  </div>

  <div class="othergeographies">
    <h3>OTHER GEOGRAPHIES</h3>
    <p>UAE | Thailand | Australia</p>
  </div>
</div>
</footer>