<div class="container">
<h3>Why buy from us ?</h3>
<div class="image-text">
  <div class="why-buy-from-us">
    <div class="w-01">
      <img
        src="https://fastly-production.24c.in/india/homepage/desktop/banners/exchange.png"
        alt=""
      />
      <div class="w-02">
        <p class="w-002">12-Month Warranty</p>
      </div>
      <div class="w-03">
        <p class="w-003">
          Enjoy peace of mind with our 12 month Warranty that is standard across
          all cars that cars we sell
        </p>
      </div>
      <div class="know-more">
        <p>KNOW MORE &gt;</p>
      </div>
    </div>
  </div>
  <div class="why-buy-from-us">
    <div class="w-01">
      <img
        src="https://fastly-production.24c.in/india/homepage/desktop/banners/exchange.png"
        alt=""
      />
      <div class="w-02">
        <p class="w-002">12-Month Warranty</p>
      </div>
      <div class="w-03">
        <p class="w-003">
          Enjoy peace of mind with our 12 month Warranty that is standard across
          all cars that cars we sell
        </p>
      </div>
      <div class="know-more">
        <p>KNOW MORE &gt;</p>
      </div>
    </div>
  </div>
  <div class="why-buy-from-us">
    <div class="w-01">
      <img
        src="https://fastly-production.24c.in/india/homepage/desktop/banners/exchange.png"
        alt=""
      />
      <div class="w-02">
        <p class="w-002">12-Month Warranty</p>
      </div>
      <div class="w-03">
        <p class="w-003">
          Enjoy peace of mind with our 12 month Warranty that is standard across
          all cars that cars we sell
        </p>
      </div>
      <div class="know-more">
        <p>KNOW MORE &gt;</p>
      </div>
    </div>
  </div>
  <div class="why-buy-from-us">
    <div class="w-01">
      <img
        src="https://fastly-production.24c.in/india/homepage/desktop/banners/exchange.png"
        alt=""
      />
      <div class="w-02">
        <p class="w-002">12-Month Warranty</p>
      </div>
      <div class="w-03">
        <p class="w-003">
          Enjoy peace of mind with our 12 month Warranty that is standard across
          all cars that cars we sell
        </p>
      </div>
      <div class="know-more">
        <p>KNOW MORE &gt;</p>
      </div>
    </div>
  </div>
</div>
</div>