<div class="container">
<h3 id="why-buy-from-us-text">Why buy from us ?</h3>
<div class="image-text">
  <div class="why-buy-from-us">
    <div class="w-01">
      <img
        src="https://assets.cars24.com/production/c2b-website/230817153723/js/88440a417a25b2afa28eaf1fe1be3d94.png"
        alt=""
      />
      <div class="w-02">
        <p class="w-002">12-Month Warranty</p>
      </div>
      <div class="w-03">
        <p class="w-003">
          Enjoy peace of mind with our 12 month Warranty that is standard across
          all cars that cars we sell
        </p>
      </div>
      <div class="know-more">
        <p>KNOW MORE &gt;</p>
      </div>
    </div>
  </div>
  <div class="why-buy-from-us">
    <div class="w-01">
      <img
        src="https://assets.cars24.com/production/c2b-website/230817153723/js/0780024975b43bbc27de11abe476eeb3.png"
        alt=""
      />
      <div class="w-02">
        <p class="w-002">12-Month Warranty</p>
      </div>
      <div class="w-03">
        <p class="w-003">
          Enjoy peace of mind with our 12 month Warranty that is standard across
          all cars that cars we sell
        </p>
      </div>
      <div class="know-more">
        <p>KNOW MORE &gt;</p>
      </div>
    </div>
  </div>
  <div class="why-buy-from-us">
    <div class="w-01">
      <img
        src="https://assets.cars24.com/production/c2b-website/230817153723/js/05fa29738dae540689da4b0c6347a602.png"
        alt=""
      />
      <div class="w-02">
        <p class="w-002">12-Month Warranty</p>
      </div>
      <div class="w-03">
        <p class="w-003">
          Enjoy peace of mind with our 12 month Warranty that is standard across
          all cars that cars we sell
        </p>
      </div>
      <div class="know-more">
        <p>KNOW MORE &gt;</p>
      </div>
    </div>
  </div>
  <div class="why-buy-from-us">
    <div class="w-01">
      <img
        src="https://assets.cars24.com/production/c2b-website/230817153723/js/afe81fe1521e66f42716262bcf10ff93.png"
        alt=""
      />
      <div class="w-02">
        <p class="w-002">12-Month Warranty</p>
      </div>
      <div class="w-03">
        <p class="w-003">
          Enjoy peace of mind with our 12 month Warranty that is standard across
          all cars that cars we sell
        </p>
      </div>
      <div class="know-more">
        <p>KNOW MORE &gt;</p>
      </div>
    </div>
  </div>
</div>
</div>