 <div class="recently-added-cars">
      <div class="image-text-container">
        <div class="info-card">
          <div class="info-card-image">
            <img
              src="https://fastly-production.24c.in/hello-ar/dev/uploads/1883ecef-38f4-42ab-a753-ae5c48f756d9/97888b38-b16d-44f9-8e69-0a2ce78afd0b/44.jpg?w=700&h=403&auto=format"
              alt=""
            />
          </div>
          <div class="info-business-card">
            <div class="info-card-title">
              <p id="hyundai">2017 Hyundai i20 Active</p>
              <!-- <mat-icon></mat-icon> -->
              <p id="manual">1.2SX Manual</p>
              <p id="prices">46,947km 1STOWNER PETROL KA-03</p>
            </div>
  
            <div class="info-card-content">
              <p id="p-01">₹13.744/month ₹7,03,000</p>
              <p id="zero-price">
                <span id="z-02">Zero-Down-Payment</span>
                <span id="z-03">₹7,24,000</span>
              </p>
            </div>
          </div>

          
        </div>
        <div class="info-card">
          <div class="info-card-image">
            <img
              src="https://fastly-production.24c.in/hello-ar/dev/uploads/8f007e54-ec31-4217-b728-3cd3411424ed/d75129aa-b803-4ae2-843f-0434ed397f17/43.jpg?w=700&h=403&auto=format"
              alt=""
            />
          </div>
          <div class="info-business-card">
            <div class="info-card-title">
              <p id="hyundai">2017 Hyundai i20 Active</p>
              <!-- <mat-icon></mat-icon> -->
              <p id="manual">1.2SX Manual</p>
              <p id="prices">46,947km 1STOWNER PETROL KA-03</p>
            </div>
  
            <div class="info-card-content">
              <p id="p-01">₹13.744/month ₹7,03,000</p>
              <p id="zero-price">
                <span id="z-02">Zero-Down-Payment</span>
                <span id="z-03">₹7,24,000</span>
              </p>
            </div>
          </div>
        </div>
        <div class="info-card">
          <div class="info-card-image">
            <img
              src="https://fastly-production.24c.in/hello-ar/dev/uploads/64e31412341cb137593dce7e/71fbc7c6-ad73-47c1-add6-ba3936dca9d8/slot/13214415747-7716a04588304f42bd421eebec31b235-Exterior-7.jpg?w=700&h=403&auto=format"
              alt=""
            />
          </div>
          <div class="info-business-card">
            <div class="info-card-title">
              <p id="hyundai">2017 Hyundai i20 Active</p>
              <!-- <mat-icon></mat-icon> -->
              <p id="manual">1.2SX Manual</p>
              <p id="prices">46,947km 1STOWNER PETROL KA-03</p>
            </div>
  
            <div class="info-card-content">
              <p id="p-01">₹13.744/month ₹7,03,000</p>
              <p id="zero-price">
                <span id="z-02">Zero-Down-Payment</span>
                <span id="z-03">₹7,24,000</span>
              </p>
            </div>
          </div>
        </div>
        <div class="info-card">
          <div class="info-card-image">
            <img
              src="https://fastly-production.24c.in/hello-ar/dev/uploads/64e33f14e46a2599d3bfdab8/7c1addb4-de60-40ea-a204-8f9dca203d25/slot/13256356797-16459ef102e24e57b58e98cc018aa646-Exterior-7.jpg?w=700&h=403&auto=format"
              alt=""
            />
          </div>
          <div class="info-business-card">
            <div class="info-card-title">
              <p id="hyundai">2017 Hyundai i20 Active</p>
              <!-- <mat-icon></mat-icon> -->
              <p id="manual">1.2SX Manual</p>
              <p id="prices">46,947km 1STOWNER PETROL KA-03</p>
            </div>
  
            <div class="info-card-content">
              <p id="p-01">₹13.744/month ₹7,03,000</p>
              <p id="zero-price">
                <span id="z-02">Zero-Down-Payment</span>
                <span id="z-03">₹7,24,000</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </div>