 <div class="recently-added-cars">
      <div class="image-text-container">
        <div class="info-card">
          <div class="info-card-image">
            <img
              src="https://fastly-production.24c.in/india/homepage/desktop/banners/exchange.png"
              alt=""
            />
          </div>
          <div class="info-business-card">
            <div class="info-card-title">
              <p id="hyundai">2017 Hyundai i20 Active</p>
              <!-- <mat-icon></mat-icon> -->
              <p id="manual">1.2SX Manual</p>
              <p id="prices">46,947km 1STOWNER PETROL KA-03</p>
            </div>
  
            <div class="info-card-content">
              <p id="p-01">₹13.744/month ₹7,03,000</p>
              <p id="zero-price">
                <span id="z-02">Zero-Down-Payment</span>
                <span id="z-03">₹7,24,000</span>
              </p>
            </div>
          </div>

          
        </div>
        <div class="info-card">
          <div class="info-card-image">
            <img
              src="https://fastly-production.24c.in/india/homepage/desktop/banners/exchange.png"
              alt=""
            />
          </div>
          <div class="info-business-card">
            <div class="info-card-title">
              <p id="hyundai">2017 Hyundai i20 Active</p>
              <!-- <mat-icon></mat-icon> -->
              <p id="manual">1.2SX Manual</p>
              <p id="prices">46,947km 1STOWNER PETROL KA-03</p>
            </div>
  
            <div class="info-card-content">
              <p id="p-01">₹13.744/month ₹7,03,000</p>
              <p id="zero-price">
                <span id="z-02">Zero-Down-Payment</span>
                <span id="z-03">₹7,24,000</span>
              </p>
            </div>
          </div>
        </div>
        <div class="info-card">
          <div class="info-card-image">
            <img
              src="https://fastly-production.24c.in/india/homepage/desktop/banners/exchange.png"
              alt=""
            />
          </div>
          <div class="info-business-card">
            <div class="info-card-title">
              <p id="hyundai">2017 Hyundai i20 Active</p>
              <!-- <mat-icon></mat-icon> -->
              <p id="manual">1.2SX Manual</p>
              <p id="prices">46,947km 1STOWNER PETROL KA-03</p>
            </div>
  
            <div class="info-card-content">
              <p id="p-01">₹13.744/month ₹7,03,000</p>
              <p id="zero-price">
                <span id="z-02">Zero-Down-Payment</span>
                <span id="z-03">₹7,24,000</span>
              </p>
            </div>
          </div>
        </div>
        <div class="info-card">
          <div class="info-card-image">
            <img
              src="https://fastly-production.24c.in/india/homepage/desktop/banners/exchange.png"
              alt=""
            />
          </div>
          <div class="info-business-card">
            <div class="info-card-title">
              <p id="hyundai">2017 Hyundai i20 Active</p>
              <!-- <mat-icon></mat-icon> -->
              <p id="manual">1.2SX Manual</p>
              <p id="prices">46,947km 1STOWNER PETROL KA-03</p>
            </div>
  
            <div class="info-card-content">
              <p id="p-01">₹13.744/month ₹7,03,000</p>
              <p id="zero-price">
                <span id="z-02">Zero-Down-Payment</span>
                <span id="z-03">₹7,24,000</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      
    </div>