<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="main">
        <div class="header">
          <div class="nav-logo">
            <div class="logo">
              <img [src]="'/assets/cars24.png'" alt="Cars24 Logo" />
            </div>
            <div class="nav-ele">
              <ul class="items">
                <li>
                  <div class="location">
                    <mat-icon>location_on</mat-icon>
                    <span>New Delhi</span>
                  </div>
                </li>
                <li>BUY A CAR</li>
                <li>SELL A CAR</li>
                <li>CAR FINANCE</li>
              </ul>
            </div>
          </div>
          <div class="settings">
            <div class="love-logo">
              <mat-icon class="material-symbols-sharp">favorite</mat-icon>
            </div>
            <div class="user">
              <mat-icon class="material-symbols-sharp">account_circle</mat-icon>
            </div>
            <div class="setting-text">
              <p>Hello, sign in</p>
              <p>Account</p>
            </div>
          </div>
        </div>
        <div class="slider-container">
          <div class="slider">
            <img src="https://assets.cars24.com/production/c2b-website/230810181009/js/d8e03eca1c5e5bcf4363a9191a0a406b.webp" alt="Cars24 Logo" width="100%" />
          </div>
          <div class="slider-text">
            <p class="s-01">certified cars with</p>
            <p class="s-02">12 Months Warranty</p>
            <input type="text" placeholder=" Search your favourite cars" class="input-on-slider"/>
          </div>
        </div>        
      </div>
    </div>
  </body>
</html>
