<div class="container">
  <div class="main">
    <div class="header">
      <div class="nav-logo">
        <div class="logo">
          <img [src]="'/assets/cars24.png'" alt="Cars24 Logo" />
        </div>
        <div class="nav-ele">
          <ul class="items">
            <li>
              <div class="location">
                <mat-icon>location_on</mat-icon>
                <span>New Delhi</span>
              </div>
            </li>
            <li>BUY A CAR</li>
            <li>SELL A CAR</li>
            <li>CAR FINANCE</li>
          </ul>
        </div>
      </div>
      <div class="settings">
        <div class="love-logo">
          <mat-icon class="material-symbols-sharp">favorite_border</mat-icon>
        </div>
        <div class="user">
          <mat-icon class="material-symbols-sharp">account_circle</mat-icon>
        </div>
        <div class="setting-text">
          <p>Hello, sign in</p>
          <p>Account</p>
        </div>
      </div>
    </div>
     <div class="slider-container">
      
      
        <img src="/assets/hero-image.png" alt="">
      
      <div class="slider-text">
        <div class="s-txt">
          <p class="s-01">certified cars with</p>
          <p class="s-02">12 Months Warranty</p>
        </div>
        <div class="i-text">
          <input
            type="text"
            placeholder=" Search your favourite cars"
            class="input-on-slider"
          />
        </div>
        <div class="brand-boxes">
          <div class="align-boxes">
            <ul>
              <li>
                <div class="brand-bg">
                  <img src="/assets/marutii.png" alt="maruti-suzuki" />
                </div>
              </li>
              <li>
                <div class="brand-bg">
                  <img src="/assets/6.jpeg" alt="hyundai" />
                </div>
              </li>
              <li>
                <div class="brand-bg">
                  <img src="/assets/Honda-logo.png" alt="honda logo" />
                </div>
              </li>
              <li>
                <div class="brand-bg">
                  <img
                    src="/assets/Renault-Logo-2015-2021.png"
                    alt="renault logo"
                  />
                </div>
              </li>
              <li>
                <div class="brand-bg">
                  <img src="/assets/fordd.png" alt="ford" />
                </div>
              </li>
              <li>
                <div class="brand-bg">
                  <img src="/assets/voks.jpeg" alt="volkswagen" height="" />
                </div>
              </li>
              <li>
                <div class="brand-bg">
                  <img
                    src="/assets/Toyota-Logo-Transparent-File.png"
                    alt="toyota"
                  />
                </div>
              </li>
              <li>
                <div class="brand-bg">
                  <img src="/assets/Tata-Motors-Logo-1988.png" alt="tata" />
                </div>
              </li>
              <li>
                <div class="brand">
                  <p>VIEW ALL CARS</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="need-a-car">
      <div class="blue-box">
        <img
          src="https://assets.cars24.com/production/c2b-website/230817153723/js/bf4d4607f19c88077efd6cced8555fdf.webp"
          alt="Image"
        />
        <div class="b-01">
          <p id="n-01">Need a car loan?</p>
          <p id="ask">Answer few questions to <br> check EMI offers</p>
          <div class="b-02">
            <div class="down-payment">
           <span>₹0</span><span>Down payment</span><span>*T&c applied</span>
            </div>
            <div class="interest-rate">
          <span>12% </span><span>Interest rate</span>
            </div>
            <div class="months-emi">
                <span>72</span><span>Months EMI</span>
            </div>

          </div>
          <div class="check-ability">
            <button>CHECK ABILITY</button>
          </div>
        </div>
      </div>
      <div class="fuel">
        <img src="assets/explore.png" alt="Image" />
      </div>
      <div class="exchange-bonus">
        <img src="assets/exchange.png" alt="Image" />
      </div>
    </div>
  </div>
  <app-why-us></app-why-us>
  <app-cars-by-category></app-cars-by-category>
  <app-recently-added-cars></app-recently-added-cars>
<app-across></app-across>
<app-happy-dirving></app-happy-dirving>
<app-cars-news></app-cars-news>
<app-car-selling></app-car-selling>
<app-footer></app-footer> 
</div>


