<h4 id="why-buy-from-us-text-01">Why Choose Us?</h4>
<div class="feature-container">
  <div class="feature-card">
    <div class="feature-image">
      <img
        src="https://fastly-production.24c.in/india/listingpage/desktop/news_articles/mileage.jpg"
        alt=""
      />
    </div>
    <div class="feature-title">
      <p class="feature-title">More people buy,sell more used cars in 2022: CARS24 mileage Report</p>
    </div>
    <div class="feature-description">
      <p class="feature-description">
        09 january 2023
      </p>
    </div>
    <div class="know-more">
      <p>READ MORE &gt;</p>
    </div>
  </div>
  <div class="feature-card">
    <div class="feature-image">
      <img
        src="https://fastly-production.24c.in/india/listingpage/desktop/news_articles/cars.jpg"
        alt=""
      />
    </div>
    <div class="feature-title">
      <p class="feature-title">More people buy,sell more used cars in 2022: CARS24 mileage Report</p>
    </div>
    <div class="feature-description">
      <p class="feature-description">
        09 january 2023
      </p>
    </div>
    <div class="know-more">
      <p>READ MORE &gt;</p>
    </div>
  </div>
  <div class="feature-card">
    <div class="feature-image">
      <img
        src="https://fastly-production.24c.in/india/listingpage/desktop/news_articles/discovery.jpg"
        alt=""
      />
    </div>
    <div class="feature-title">
      <p class="feature-title">More people buy,sell more used cars in 2022: CARS24 mileage Report</p>
    </div>
    <div class="feature-description">
      <p class="feature-description">
        09 january 2023
      </p>
    </div>
    <div class="know-more">
      <p>READ MORE &gt;</p>
    </div>
  </div>
  <div class="feature-card">
    <div class="feature-image">
      <img
        src="https://fastly-production.24c.in/india/listingpage/desktop/news_articles/founders.jpg"
        alt=""
      />
    </div>
    <div class="feature-title">
      <p class="feature-title">More people buy,sell more used cars in 2022: CARS24 mileage Report</p>
    </div>
    <div class="feature-description">
      <p class="feature-description">
        09 january 2023
      </p>
    </div>
    <div class="know-more">
      <p>READ MORE &gt;</p>
    </div>
  </div>
</div>