/* You can add global styles to this file, and also import other style files */

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
  padding: 0 1em;
  max-width: 120%;
}

.main {
  position: relative;
  width: 100%;
  margin: 0px auto;
  top: 0;
}

/* header part  */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0;
  background-color: white;
  z-index: 1000;
}

/* nav-bar items  */
.items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  color: black;
  width: 520px;
}

.items li {
  font-size: 20px;
  color: rgb(42, 43, 46);
  align-items: center;
  font-size: 17px;
  font-weight: 500;
}

.settings {
  display: flex;
  flex-direction: row;
  width: 120px;
  justify-content: space-evenly;
  width: 160px;
  align-items: center;
  margin-right: 60px;
}

.setting-text {
  line-height: 0;
  width: 100px;
}

.setting-text p {
  font-family: bold;
}

/* location logo item */
.location {
  display: flex;
  align-items: center;
}

.mat-icon {
  margin-right: 8px;
  font-size: 24px;
  padding-right: 0px;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-right: 340px;
  margin-bottom: 0;
}

.logo img {
  display: block;
  width: 100px;
  height: 90px;
}

/* hover  */

.items li {
  position: relative;
  cursor: pointer;
}

.items li:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 105%;
  height: 5px;
  background-color: rgb(248, 163, 4);
  border-radius: 20px;
  font-weight: 200 bold;
}
.slider-container {
  position: relative;
  right: 200px;
  width: 800px;
}
.slider-container img {
  width: 1629px;
  overflow: hidden;
}

.slider-text {
  position: absolute;

  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;

  font-size: 18px;
  border-radius: 5px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 80px;

  top: 28%;
  left: 600px;
}

.slider-text .s-01 {
  font-size: 35px;
  font-weight: bold;
  padding-top: 10px;
  margin-bottom: 0;
}
.slider-text .s-02 {
  font-size: 35px;
  font-weight: bold;
}

.input-on-slider {
  padding: 12px 230px 12px 230px;
  border: 2px;
  border-radius: 10px;
}

/* brand logos */

.brand-boxes ul {
  list-style: none;
  display: flex;
  justify-content: space-between;

  width: 100px;
  height: 80px;
}
.brand-boxes li {
  width: 80px;
  height: 50px;
  margin: 0;
  padding: 0;
}
.brand-boxes img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.brand-boxes {
  padding: 10px;
  margin: 0 auto;
}
.brand-boxes ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.brand-boxes li {
  flex: 0 0 auto;
  height: 50px;
  margin: 0 10px;
  padding: 0;
}
.brand-boxes .maruti img {
  max-width: 60px;
  max-height: 80px;
  object-fit: contain;
}
.brand-boxes .brand-bg {
  position: relative;
  padding: 16px 8px 16px 8px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 6px solid; */
  border-radius: 20px;
}

.brand-boxes .brand-bg p {
  padding: 0px 20px;
}
.brand {
  position: relative;
  background-color: rgb(255, 167, 5);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 6px solid; */
  border-radius: 20px;
  width: 200px;
  height: 70px;
}
.brand p {
  color: white;
  font-weight: 2px bold;
  font-size: 20px;
}
.align-boxes {
  position: absolute;
  left: 0;
}

.i-text {
  margin-top: 20px;
}
.s-text {
  margin-top: 40px;
  line-height: 1.5;
}

/* need */
.need-a-car {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px; /* Add margin as needed */
  margin-top: 80px;
}

.blue-box {
  position: relative;
  background-color: #00aaff;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.blue-box img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 90px;
  height: 50px;
  object-fit: cover;
}

.fuel {
  position: relative;
}

.fuel img {
  width: 340px;
  height: 300px;
  border-radius: 10px;
}

.exchange-bonus {
  position: relative;
  border-radius: 10px;
}

.exchange-bonus img {
  width: 340px;
  height: 300px;
}

.image-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.why-buy-from-us img {
  width: 210px;
  height: 110px;
  /* padding-right: 120px; */
}
.why-buy-from-us {
  background-color: #f8f9fa;
  width: 210px;
  padding: 0px 0px;
  border-radius: 10px;
  padding-bottom: 0px;
}

.w-002 {
  font-weight: bold;
  margin-left: 10px;
  margin-top: 20px;
}
.w-003 {
  margin-left: 10px;
}
.know-more p {
  color: orangered;
  font-weight: 200;
  margin-left: 10px;
}

.card {
  background-color: aliceblue;
  height: 300px;
  width: 200px;
}
.home-budget {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* recently added cars */

.recently-added-cars {
  max: width 100%;
  max-height: 1200px;
  background: #0c72c6;
  padding: 50px 0 150px 0;
}
.image-text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 60px;
}

.info-card {
  background-color: whitesmoke;
  width: 240px;
  padding-bottom: 8px;

  border-radius: 10px;
}

.info-card img {
  width: 240px;
  height: 110px;
}

.info-card-title {
  margin-left: 10px;
  /* line-height: 0.5; */
  margin-top: 20px;
}

.info-card-content {
  margin-left: 10px;
  /* line-height: 0.5; */
}

.info-card-content p {
  margin-bottom: 0;
}

#manual {
  font-size: 6px;
  color: rgba(55, 49, 50, 0.5);
  word-spacing: 10px;
}
#prices {
  font-size: 12px;
  color: rgba(55, 49, 50, 0.5);
  word-spacing: 10px;
}
#p-01 {
  word-spacing: 46px;
}
#zero-price {
  font-size: 12px;
  color: rgba(55, 49, 50, 0.5);
  word-spacing: 46px;
}
#z-03 {
  text-decoration: line-through;
}

.recently-added-cars {
  max-width: 100%;
  max-height: 1200px;
  /* background: #0c72c6; */
  padding: 20px 0 120px 0;
  position: relative;
}
.btn-view-all-cars button {
  position: absolute;
  top: 320px;
  left: 500px;
  color: white;
  background: #e4980a;
  padding: 16px 32px;
  border-radius: 10px;
  box-shadow: none;
}

.btn-change {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 90px;
  height: 50px;
  object-fit: cover;
}

a {
  text-decoration: none;
}

/* Card Styles */

.card-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 300px;
  max-height: 200px;
}

.card-image img {
  max-height: 200px;
  max-width: 400px;
  border-radius: 8px 8px 0px 0;
}

.card-action {
  position: relative;
  float: right;
  margin-top: -25px;
  margin-right: 20px;
  z-index: 2;
  color: #e26d5c;
  background: #fff;
  border-radius: 100%;
  padding: 15px;
  font-size: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
  color: #fff;
  background: #e26d5c;
  -webkit-animation: pulse 1.5s infinite;
}

.card-heading {
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 15px;
}

.card-text {
  padding: 10px 15px;
  background: #fff;
  font-size: 14px;
  color: #636262;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: #d6d2c5;
  font-weight: 700;
  font-family: Poppins;
  color: #ffbf00;
  border-radius: 0 0 8px 8px;
}

/* .card-button:hover {
  text-decoration: none;
  background-color: #1d3461;
  color: #fff;
} */

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }

  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}
.col-md-3 {
  display: flex;
  align-items: center;
  gap: 60px;
}
.container {
  margin-top: 50px;
}
.info-business-card {
  margin-top: 10px;
}

.image-text-container-01 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 290px;
}

.custom-card {
  background-color: whitesmoke;
  width: 280px;
  padding-bottom: 8px;
  text-align: center;
  border-radius: 10px;
}

.custom-card img {
  width: 280px;
  height: 110px;
}

.card-title {
  font-weight: bold;
  margin-left: 10px;
  position: relative;
}

.card-content {
  margin-left: 10px;
}

.card-content p {
  font-weight: 800;
  margin-bottom: 0;
}

.apstrope-02,
.apstrope-01 {
  width: 20px;
  height: auto;
  position: absolute;
  margin-right: 5px;
  margin-left: 5px;
  max-width: 20px;
  max-height: 10px;
}

.apstrope-01 {
  position: absolute;
  margin-right: 40px;
}

.apstrope-01 {
  left: 0;
  top: 0;
}

.apstrope-02 {
  right: 0;
  top: 0;
}

.happy-driving {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.feature-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.feature-card {
  background-color: whitesmoke;
  width: 240px;

  border-radius: 10px;
}

.feature-image img {
  width: 240px;
  height: 110px;
}

.feature-title {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 900;
}

.feature-description {
  margin-left: 10px;
}

.know-more {
  color: orangered;
  font-weight: 800;
  margin-left: 10px;
}

.cars-sell {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.car-selling h3 {
  font-weight: 900;
  font-size: 44px;
  color: #0059a3;
}
.car-selling #cars {
  font-size: 20px;
  line-height: 28px;
  color: #465166;
}
.get-car-price {
  max-width: 250px;
  background-color: orange;
  color: white;
  padding: 10px 40px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
}

footer {
  background-color: #f4f4f4;
  padding: 20px 0;
  text-align: center;
}

.icons {
  margin-bottom: 20px;
}

.useful-link,
.popular-search,
.othergeographies {
  display: inline-block;
  margin: 0 20px;
  vertical-align: top;
}

h3 {
  font-size: 10px;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
#why-buy-from-us-text {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 60px;
  margin-left: 0px;
}
#why-buy-from-us-text-01 {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 40px;
  margin-left: 0px;
}
#home {
  margin-bottom: 40px;
}

.image-text-container-01 {
  display: flex;
  flex-direction: column;
}
.h-drives {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

#n-01 {
  color: white;
  font-size: 25px;
  font-weight: 590;
}
#ask {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.b-02 {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.down-payment,
.interest-rate,
.months-emi {
  display: flex;
  flex-direction: column;
}

.b-01 {
  position: relative;
  left: 10px;
  right: 10px;

  top: 17px;
}
.check-ability button{
  color: white;
  background: orange;
  padding: 12px;
  border-radius: 16px;
  margin-top:20px;
  border: none;
}

.icons-footer ul{
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  gap: 10px

}

